In [1]:
# Code Wars

In [2]:
##

In [25]:
text = 'aaBb1BB5'

In [38]:
def duplicate_count(text):
    hashmap = {}
    text = text.lower()
    for i in text:
        if text.count(i) > 1:
            hashmap[i] = text.count(i)
            
    return hashmap.items()

In [39]:
duplicate_count(text)

dict_items([('a', 2), ('b', 4)])

In [65]:
def duplicate_count(text):
    #t = len([c for c in set(text.lower()) if text.lower().count(c) > 1])
    t = [c for c in set(text.lower())]# if text.lower().count(c) > 1]
    return t

In [68]:
duplicate_count(text)

['1', 'b', 'a', '5']

In [69]:
nums = [1,2,3,4,4]

In [70]:
set(nums)

{1, 2, 3, 4}

In [71]:
string = 'fadhel&wafa'

In [72]:
set(string.lower())

{'&', 'a', 'd', 'e', 'f', 'h', 'l', 'w'}

In [74]:
fw = [c for c in set(string.lower()) if string.lower().count(c) > 1]
fw

['f', 'a']

In [76]:
fw = [c for c in set(string.lower()) if string.lower().count(c) > 1]
fw

['f', 'a']

In [79]:
a = [1,2,3]
b = [0,0,0]

In [80]:
a + b

[1, 2, 3, 0, 0, 0]

In [93]:
jewels = "Z"
stones = "z"

In [94]:
def findStones(jewels, stones):
    res = 0
    for j in jewels:
        for s in set(stones):
            if s == j:
                res += stones.count(s)
                
    return res

In [95]:
findStones(jewels, stones)

0

In [134]:
def removeElem(nums , val):
    l = 0
    r = len(nums) - 1
    print(nums[r])
#     while l < r:
    if nums[l] == val:
        nums[l], nums[r] = nums[r], nums[l]
        r -= 1
        l += 1
        
    return nums

nums = [1,2,3,4]
val  = 1

In [135]:
removeElem(nums , val)

4

[4, 2, 3, 1]

In [2]:
names = ['fadhel', 'mohammed', 'khalifa']
', '.join(names) # returns string

'fadhel, mohammed, khalifa'

In [3]:
string = 'fadhelmohammedkhalifa'
', '.join(string)

'f, a, d, h, e, l, m, o, h, a, m, m, e, d, k, h, a, l, i, f, a'

In [6]:
nums = [1,2,3]
','.join(str(nums))

'[,1,,, ,2,,, ,3,]'

In [7]:
# find odd even
number = 4
'even' if number % 2 == 0 else 'odd'

'even'